html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    line-height: 1.3;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}

body * + * {
    margin-top: 1em;
}

body > * {
    margin-top: 0;
}

#canvas {
    z-index: -2;
    width: 100%;
    height: 100%;
    position: absolute;
}

#hands {
    width: 90vw;
    height: 30vw;
    margin-top: 5vh;

    max-width: 480px;
    max-height: 160px;
    margin-left: auto;
    margin-right: auto;

    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('emoji.png');
}

#background {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
}

#background canvas {
    width: 100%;
    z-index: -2;
    height: 100%;
}

h1 {
    color: #000;
    /* margin-top: 0;
    margin-bottom: 0; */
    margin-top: 0.67em;
    text-align: center;
    margin-bottom: 0.67em;
}

.title {
    text-align: center;
    box-sizing: border-box;
    background: yellow;
    border-top: 12px solid black;
    border-bottom: 12px solid black;
}

.title > * {
    padding: 4px 8px;
    display: inline-block;
    border: 2px solid black;
}

#copy-match-container {
    display: flex;
    flex-direction: column;
}

#copy-match-container button {
    width: 90vw;
    max-width: 500px;
}

button {
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.75);
}

button:hover {
    color: yellow;
    background-color: #ff00ff;
}

button:active, button[disabled] {
    top: 8px;
    left: 8px;
    box-shadow: none;
    color: yellow;
    position: relative;
    background-color: black;
}

button[disabled] {
    cursor: default;
}

.page {
    display: none;
}

.page:target {
    display: block;
}

.page.default {
    display: block;
}

.page:target ~ .page.default {
    display: none;
}

/* #match-started-content,
#match-created {
    display: none;
} */

#match-created {
    margin-top: 0;
}

body.match-started-container #match-started-content,
body.match-created-container #match-created {
    display: block;
}

body.match-created-container #before-match-creation-content {
    display: none;
}

button, input[type=submit] {
    border: none;
    color: inherit;
    line-height: 1;
    display: block;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    padding: .5em 1em;
    border-radius: 2px;
    letter-spacing: 1px;
    font-family: inherit;
    text-transform: uppercase;
    background-color: #fff;
}

@media all and (pointer: fine) {
    button, input[type=submit] {
        outline: none;
    }
}

.error-toast-container {
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    padding-left: 8px;
    padding-right: 8px;
}

.error-toast-container.toast {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8px;
    width: calc(100vw - 16px);
}

.error-toast-container.alert {
    top: 0;
    display: flex;
    background-color: rgba(0, 0, 0, 0.75);
}

#error-toast {
    display: none;
    font-size: 1.2rem;
    text-align: center;
    background: #fff;
    padding: 1em 48px 1em 1em;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.75);
}

.error-toast-container.alert #error-toast {
    margin: auto;
    max-width: 720px;
    width: calc(100vw - 16px);
}

.error-toast-container #error-toast {
    position: relative;
}

#error-toast > p {
    margin: 0;
}

#error-toast.visible {
    display: block;
}

#error-toast.error {
    color: red;
}

#toast-close-button {
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    margin-top: 0;
    font-size: 24px;
    cursor: pointer;
    line-height: 48px;
    text-align: center;
    position: absolute;
}

#game:target {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#game > *:not(#horizontal-divider) {
    flex: 1 0 0;
    position: relative;
}

#game > *:not(#horizontal-divider) > .score {
    height: 60px;
    padding: 5px;
    width: 150px;
    margin: 5px 0;
    display: flex;
    cursor: default;
    font-weight: 900;
    line-height: 60px;
    border: 3px solid;
    position: absolute;
    align-items: center;
    font-size: xx-large;
    letter-spacing: 4px;
    box-sizing: border-box;
    font-family: monospace;
    justify-content: center;
    background-color: yellow;
}

#game * + * {
    margin-top: 0;
}

#horizontal-divider {
    width: 100%;
    height: 6px;
    display: flex;
    overflow: hidden;
    align-items: center;
    border-top: 3px solid;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3px solid;
    background-color: yellow;
    transition: height 100ms ease;
}

#horizontal-divider.result {
    height: 100px;
}

#horizontal-divider::before {
    content: '';
    font-size: 4em;
    font-weight: bolder;
    transform: translate3d(calc(50vw + 100%), 0, 0);
}

#horizontal-divider.win::before, #horizontal-divider.lose::before, #horizontal-divider.even::before {
    animation: result-animation 2s ease;
}

#horizontal-divider.win.game-over::before, #horizontal-divider.lose.game-over::before {
    animation: none;
    transform: translate3d(0, 0, 0);
    transition: transform 1s ease-out;
}

#horizontal-divider.game-over {
    height: 100%;
    display: grid;
    text-align: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

#horizontal-divider.game-over::before {
    grid-row: 1;
    align-self: end;
    grid-column: 1 / 3;
    justify-self: center;
}

#horizontal-divider button {
    display: none;
}

#horizontal-divider.game-over button {
    opacity: 1;
    display: block;
    max-width: 400px;
    align-self: start;
    margin: 50px auto;
    width: calc(100% - 20px);
    animation: fade-in 0.5s ease;
}

@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

button + button {
    margin-left: 1em;
}

@keyframes result-animation {
    0% {
        transform: translate3d(calc(50vw + 100%), 0, 0);
    } 30% {
        transform: translate3d(0, 0, 0);
    } 70% {
        transform: translate3d(0, 0, 0);
    } 100% {
        transform: translate3d(calc(-50vw - 100%), 0, 0);
    }
}

#horizontal-divider.win::before {
    content: 'YOU WON!';
}

#horizontal-divider.lose::before {
    content: 'YOU LOST!';
}

#horizontal-divider.even::before {
    content: 'EVEN!';
}

#me-player > .score {
    top: 0;
    right: 5px;
}

#you-player > .score {
    bottom: 0;
    left: 5px;
}

#game .moves {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 115px);
}

#game .moves img {
    width: 60px;
}

#game .moves img + img {
    margin-left: 20px;
}

#me-player > .moves {
    margin-top: 70px;
}

#you-player > .moves {
    margin-bottom: 70px;
}

.moves .move {
    padding: 12px;
    border: 3px solid transparent;
}

#me-player .moves:not(.move-picked) .move {
    cursor: pointer;
}

.move.selected {
    background: yellow;
    border: 3px solid black;
}

.move-picked > *:not(.selected) {
    opacity: 0.25;
}

.move-picked > *.selected {
    transform: scale(1.5);
}

#me-score.damage {
    animation: damage-vibe .8s linear, damage-color .8s step-start;
}

@keyframes damage-vibe {
    0% {
        transform: translate3d(4px, 0, 0);
    } 10% {
        transform: translate3d(-4px, 0, 0);
    } 20% {
        transform: translate3d(4px, 0, 0);
    } 30% {
        transform: translate3d(-4px, 0, 0);
    } 40% {
        transform: translate3d(4px, 0, 0);
    } 50% {
        transform: translate3d(-4px, 0, 0);
    } 60% {
        transform: translate3d(4px, 0, 0);
    } 70% {
        transform: translate3d(-4px, 0, 0);
    } 80% {
        transform: translate3d(4px, 0, 0);
    } 90% {
        transform: translate3d(-4px, 0, 0);
    }
}

@keyframes damage-color {
    0% {
        background-color: yellow;
    } 25% {
        background-color: red;
    } 50% {
        background-color: yellow;
    } 75% {
        background-color: red;
    }
}
