body {
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    line-height: 1.3;
    padding: 0;
}

body * + * {
    margin-top: 1em;
}

body > * {
    margin-top: 0;
}

.page {
    display: none;
}

.page:target {
    display: block;
}

.page.default {
    display: block;
}

.page:target ~ .page.default {
    display: none;
}

#match-started-content, 
#match-created-content, 
#before-match-creation-content,
body.match-started-container #join-match-content {
    display: none;
}

body.match-started-container #match-started-content,
body.match-created-container #match-created-content,
body.before-match-creation-container #before-match-creation-content {
    display: block;
}

button, input[type=submit] {
    border: none;
    background-color: #ddd;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: inherit;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
    display: block;
    padding: .5em 1em;
    border-radius: 2px;
}

#error-toast {
    
}

#error-toast.error {
    color: red;
}

#error-toast.visible {
    display: block;
}