html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    line-height: 1.3;
}

body * + * {
    margin-top: 1em;
}

body > * {
    margin-top: 0;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#background canvas {
    width: 100%;
    height: 100%;
    z-index: -2;
}

#background div {
    width: 100%;
    height: 100%;

    margin: 0px;

    background-image: url('emoji.png');
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;
}

h1 {
    text-align: center;
    color: #000;
    /* margin-top: 0;
    margin-bottom: 0; */
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

.title {
    box-sizing: border-box;
    border-top: 12px solid black;
    border-bottom: 12px solid black;
    background: yellow;
    text-align: center;
}

.title > * {
    display: inline-block;
    border: 2px solid black;
    padding: 4px 8px;
}

#copy-match-container {
    display: flex;
    flex-direction: column;
}

#copy-match-container > button {
    width: 90vw;
    max-width: 500px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.75);
}

#copy-match-container > button:hover {
    background-color: #ff00ff;
    color: yellow;
}

#copy-match-container > button:active {
    box-shadow: none;
    position: relative;
    top: 8px;
    left: 8px;
    background-color: yellow;
    color: black;
}

.page {
    display: none;
}

.page:target {
    display: block;
}

.page.default {
    display: block;
}

.page:target ~ .page.default {
    display: none;
}

/* #match-started-content,
#match-created {
    display: none;
} */

#match-created {
    margin-top: 0;
}

body.match-started-container #match-started-content,
body.match-created-container #match-created {
    display: block;
}

body.match-created-container #before-match-creation-content {
    display: none;
}

button, input[type=submit] {
    border: none;
    background-color: #fff;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: inherit;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
    display: block;
    padding: .5em 1em;
    border-radius: 2px;
    cursor: pointer;
}

@media all and (pointer: fine) {
    button, input[type=submit] {
        outline: none;
    }
}

.error-toast-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: calc(100vw - 16px);
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}

#error-toast {
    position: relative;
    background: #fff;
    transform: translate3d(0, 72px, 0);
    visibility: hidden;
    padding: 1em;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.75);
    /* transition: transform 2s linear, visibility 2s linear; */
}

#error-toast > p {
    margin: 0;
}

#error-toast.visible {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    /* transition: transform 2s linear, visibility 0 linear; */
}

#error-toast.error {
    color: red;
}
